# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\学习文件\authority_system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
